{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="main">

    

    
    <div class="container">
        <hr class="mt-2 mb-1">
    </div><!-- End .container -->

    <!-- product section -->

    <!-- new container for listing Exclusive Offer products -->
    <div class="bg-lighter ">
        <div class="container">
            <div class="heading heading-flex mb-1">
                <div class="heading-left text-center">
                    <h2 class="title text-center">Cart</h2><!-- End .title -->
                </div><!-- End .heading-left -->


            </div><!-- End .heading -->

            <div class="row">
                <div class="col-lg-9">
                    <table class="table table-cart table-mobile">
                        {% if cart.items.all %}
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price </th>
                                <th>Quantity</th>
                                
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            
                            {% for item in cart_items  %}
                            <tr>
                                <td class="product-col">
                                    <div class="product">
                                        <figure class="product-media">
                                            <a href="#">
                                                <img src="{{ item.product.image_1.url }}" alt="Product image">
                                            </a>
                                        </figure>

                                        <h3 class="product-title">
                                            <a href="#">{{ item.product.name }}</a>
                                        </h3><!-- End .product-title -->
                                    </div><!-- End .product -->
                                </td>
                                <td class="price-col">
                                    <span class="product-price" data-price="{{ item.product.new_price }}">₹{{ item.product.new_price }}</span>
                                </td>
                                <td class="quantity-col">
                                    <form method="post" action="{% url 'update_cart_item_quantity' item.id %}">
                                        {% csrf_token %}
                                        <div class="cart-product-quantity">
                                            <input type="number" class="form-control quantity-input" name="quantity" value="{{ item.quantity }}" min="1" max="{{ item.product.stock }}" step="1" data-decimals="0" required onchange="this.form.submit();">
                                        </div>
                                    </form>
                                </td>
                               
                                
                                <td class="remove-col"><a href="{% url 'remove_from_cart' item.product.id %}"><button class="btn-remove"><i class="icon-close"></i></button></a></td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <p>Your cart is empty.</p>
                            {% endif %}
                            
                        </tbody>
                    </table><!-- End .table table-wishlist -->

                    <div class="cart-bottom">
                        

                        <a href="#" class="btn btn-outline-dark-2"><span>UPDATE CART</span><i class="icon-refresh"></i></a>
                    </div><!-- End .cart-bottom -->
                </div><!-- End .col-lg-9 -->
                <aside class="col-lg-3">
                    <div class="summary summary-cart">
                        <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                        <table class="table table-summary">
                            <tbody>
                                <tr class="summary-subtotal" >
                                    <h6 style="margin-top: 10px;">Subtotal</h6>
                                </tr><!-- End .summary-subtotal -->
                                
                                {% for item in cart_items %}
                                <tr>
                                    <td>{{ item.product.name }} x {{ item.quantity }}</td>
                                    <td>₹ {{ item.subtotal }}</td> <!-- Show subtotal for each item -->
                                </tr>
                                {% endfor %}

                                <tr class="summary-total">
                                    <td>Total:</td>
                                    <td>₹ {{ total_cost }}</td>
                                </tr><!-- End .summary-total -->
                            </tbody>
                        </table><!-- End .table table-summary -->

                        <a href="checkout.html" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
                    </div><!-- End .summary -->

                    <a href="category.html" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
                </aside><!-- End .col-lg-3 -->
            </div><!-- End .row -->


        </div><!-- End .container -->
    </div>
    <!-- end container for listing all products -->

    <!-- product section end-->



    <div class="container">
        <hr class="mt-3 mb-4">
    </div><!-- End .container -->



    <div class="container">
        <hr class="mt-3 mt-xl-1 mb-0">
    </div><!-- End .container -->

    <div class="cta pt-4 pt-lg-6 pb-5 pb-lg-7 mb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-8 col-lg-6">
                    <div class="cta-heading text-center">
                        <h3 class="cta-title">Sign Up for updates from Molla</h3><!-- End .cta-title -->
                        <p class="cta-desc">and receive <span class="font-weight-normal">$20 coupon</span> for first shopping</p><!-- End .cta-desc -->
                    </div><!-- End .text-center -->
                
                    <form action="#">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your Email Address" aria-label="Email Adress" required>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit" title="Sing up"><i class="icon-long-arrow-right"></i></button>
                            </div><!-- .End .input-group-append -->
                        </div><!-- .End .input-group -->
                    </form>
                </div><!-- End .col-sm-10 col-md-8 col-lg-6 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .cta -->

</main><!-- End .main -->

{% endblock %}