{% load static %}




<header class="header header-6">
    <div class="header-top">
        <div class="container py-3">
            <div class="header-left">
                <ul class="top-menu top-link-menu d-none d-md-block">
                    <li>
                        <a href="#">Links</a>
                        <ul>
                            <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                        </ul>
                    </li>
                </ul><!-- End .top-menu -->
            </div><!-- End .header-left -->

            <div class="header-right">
                <div class="social-icons social-icons-color">
                    <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                            class="icon-facebook-f"></i></a>
                    <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                            class="icon-twitter"></i></a>
                    <a href="#" class="social-icon social-instagram" title="Pinterest" target="_blank"><i
                            class="icon-instagram"></i></a>
                    <a href="#" class="social-icon social-pinterest" title="Instagram" target="_blank"><i
                            class="icon-pinterest-p"></i></a>
                </div><!-- End .soial-icons -->
                <ul class="top-menu top-link-menu">
                    <li>
                        <a href="#">Links</a>
                        <ul>
                            <li><a href="{% url 'user_logout' %}" data-toggle=""><i class="icon-user"></i>Logout</a></li>
                            
                        </ul>
                    </li>
                </ul><!-- End .top-menu -->




            </div><!-- End .header-right -->
        </div>
    </div>
    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="#" method="get">
                        <div class="header-search-wrapper search-wrapper-wide">
                            <label for="q" class="sr-only">Search</label>
                            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                            <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..."
                                required>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
            </div>
            <div class="header-center">
                <a href="{% url 'home' %}" class="logo">
                    <img src="{% static 'assets/images/Vrindapots_new_text_logo.png' %}" alt="Molla Logo" width="50%"
                        height="40">
                </a>
            </div><!-- End .header-left -->

            <div class="header-right">
                <a href="{% url 'wishlist'  %}" class="wishlist-link">
                    <i class="icon-heart-o"></i>
                    {% if not wishlist_count == 0 %}
                    <span class="wishlist-count">{{ wishlist_count }}</span>
                    {% endif %}
                    <span class="wishlist-txt">My Wishlist</span>
                </a>

                <div class="dropdown cart-dropdown">
                    <a href="{% url 'cart_detail'  %}" class="dropdown-toggle">
                        <i class="icon-shopping-cart"></i>
                        <span class="cart-count">2</span>
                        <span class="cart-txt">My Cart</span>
                    </a>


                </div><!-- End .cart-dropdown -->
            </div>
        </div><!-- End .container -->
    </div><!-- End .header-middle -->

    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="header-left">
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a href="#" class="sf-with-ul">Shop</a>

                            <ul>
                                <li><a href="{% url 'all_products' %}">All Products</a></li>
                                {% for category in categories %}
                                <li><a href="{% url 'category_products' category.id %}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>
                            <a href="" class="sf-with-ul">Account</a>
                            <ul>
                                <li><a href="{% url 'account_page' %}">Account</a></li>
                                <li><a href="">My Orders</a></li>
                                <li><a href="{% url 'wishlist'  %}">My Wishlist</a></li>
                                <li><a href="{% url 'cart_detail'  %}">My Cart</a></li>
                                <li><a href="#">My Wallet</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="" class="sf-with-ul">Top Deals</a>
                            <ul>
                                <li><a href="{% url 'tag_products' 2 %}">Exclusive Offers</a></li>
                                <li><a href="{% url 'tag_products' 3 %}">Best Sellers</a></li>
                                <li><a href="{% url 'tag_products' 4 %}">New Arrivals</a></li>
                                <li><a href="{% url 'tag_products' 5 %}">Seasonal Specials</a></li>
                            </ul>
                        </li>

                        {% if show_button %}
                        <li>
                            <a href="" class="sf-with-ul">Sort</a>
                            <ul>
                                <li><a href="#">Popularity</a></li>
                                <li><a href="?sort_by=price_low_high">Price: Low to High</a></li>
                                <li><a href="?sort_by=price_high_low">Price: High to Low</a></li>
                                <li><a href="?sort_by=ratings">Ratings</a></li>
                                <li><a href="?sort_by=a_to_z">A - Z</a></li>
                                <li><a href="?sort_by=z_to_a">Z - A</a></li>
                            </ul>
                        </li>
                        {% endif %}


                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->

                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

            </div><!-- End .header-left -->


        </div><!-- End .container -->
    </div><!-- End .header-bottom -->
</header><!-- End .header -->