{% extends 'admin_templates/admin_base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1>Admin Login</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" style="width: 400px;" class="form-control" name="username" id="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" style="width: 400px;" class="form-control" name="password" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
    </form>
    
{% endblock %}