{% extends 'admin_templates/admin_base.html' %}
{% load static %}

{% block content %}
        
<div class="container mt-5" style="margin-bottom: 50px;">
    <a href="{% url 'admin_home' %}">Back to Admin Dashboard</a>
    <h1>Edit Product: {{ product.name }}</h1>  <!-- Display the product name -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Update Product</button>
        <a href="{% url 'product_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{% endblock %}