{% extends 'admin_templates/admin_base.html' %}
{% load static %}


{% block content %}
        
<div class="container mt-5" style="margin-bottom: 50px;">
    <a href="{% url 'admin_home' %}">Back to Admin Dashboard</a>
    <h1>Add Images for {{ product.name }}</h1>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="image_count">How many images do you want to upload?</label>
            {{ form.image_count }}
        </div>
        <button type="submit" class="btn btn-primary">Next</button>
        <a href="{% url 'product_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{% endblock %}