{% extends 'admin_templates/admin_base.html' %}
{% load static %}


{% block content %}
        
<div class="container mt-5">
    <a href="{% url 'admin_home' %}">Back to Admin Dashboard</a>
    <h1 class="text-center mb-4">User  Management</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td><a href="{% url 'user_detail' user.id %}">{{ user.username }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.is_active|yesno:"Active,Blocked" }}</td>
                    <td>
                        <a href="{% url 'user_detail' user.id %}" class="btn btn-info">View</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}